<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395242694969-m7mkuqmudbms20fhi9cu7270jfh9foom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395242694969-m7mkuqmudbms20fhi9cu7270jfh9foom</string>
	<key>API_KEY</key>
	<string>AIzaSyAId2q5N-HBegtv90UXv_L9OgAjwDgun5o</string>
	<key>GCM_SENDER_ID</key>
	<string>395242694969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamQuizApp</string>
	<key>PROJECT_ID</key>
	<string>stream-quiz-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-quiz-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395242694969:ios:66ce2450549c33b56020e8</string>
</dict>
</plist>